# Para o SGBD
MYSQL_HOST=127.0.0.1
MYSQL_PORT=50000
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=qcyber_db
MYSQL_USER=tester
MYSQL_PASSWORD=password

# Para as APIs
APP_SECRET_KEY="mude-aqui-em-prod"
FLASK_API_PORT=8016

# Docker
OLLAMA_PORT=11434