# Para o SGBD
MYSQL_HOST=mysql
MYSQL_PORT=50000
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=qcyber_db
MYSQL_USER=tester
MYSQL_PASSWORD=password

# Para as APIs
APP_SECRET_KEY="mude-aqui-em-prod"
FLASK_API_PORT=8016

# Docker
OLLAMA_PORT=11434


QML_LLM_PROVIDER=ollama
QCYBER_DEBUG_LLM_CONFIG=1
QCYBER_ALLOW_CREW_FALLBACK=1
QCYBER_CREW_VERBOSE=True

QCYBER_ENV=DEV # TEST / DEV / PROD
# TEST Mode:
LLM_MODEL_TEST1=ollama/qwen3.5:4b
LLM_MODEL_TEST2=ollama/qwen2.5:3b-instruct-q4_K_M
LLM_MODEL_TEST3=ollama/llama3.1:8b

MAX_TOKENS_TEST_LLM_DEFAULT=128
MAX_TOKENS_TEST_LLM_LEADER=256
MAX_TOKENS_TEST_LLM_CODER=512

# DEV Mode:
LLM_MODEL_DEV1=ollama/qwen3:8b-q4_K_M
LLM_MODEL_DEV2=ollama/qwen2.5-coder:7b
LLM_MODEL_DEV3=ollama/llama3.1:8b

MAX_TOKENS_DEV_LLM_DEFAULT=1024
MAX_TOKENS_DEV_LLM_LEADER=1024
MAX_TOKENS_DEV_LLM_CODER=1024

QML_BINARY_TOOL_PROVIDER=quantum  # força QuantumModel
# QML_BINARY_TOOL_PROVIDER=rf       # força RandomForest
# QML_BINARY_TOOL_PROVIDER=both     # comportamento anterior

GEMINI_API_KEY="mude-aqui-em-prod"